body {
  color: $color--neutral;
  background-color: $color--neutral;
  --viewportWidth: calc(100vw - var(--scrollbarWidth));
}

section {
  background-color: var(--background);
}
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.visually-hidden {
  @include visually-hidden;
}
