@font-face {
  font-family: 'Surt Light';
  src: url('/fonts/Surt-Light.woff2') format('woff2'),
    url('/fonts/Surt-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Surt Light Expanded';
  src: url('/fonts/Surt-LightExp.woff2') format('woff2'),
    url('/fonts/Surt-LightExp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Apoc DL';
  font-feature-settings: "salt" on;
  src: url('/fonts/Apoc-Regular.woff2') format('woff2'),
    url('/fonts/Apoc-Regular.woff') format('woff');
  font-display: swap;
  unicode-range:U+0073,U+006c;
} */

@font-face {
  font-family: 'Apoc Regular';
  src: url('/fonts/Apoc-Regular.woff2') format('woff2'),
    url('/fonts/Apoc-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


