.case-study {
  color: $color--contrast;

  --aspect-ratio: (3 / 2);
  @include screen(md) {
    --aspect-ratio: (818 / 386);
  }
  &__slides {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-auto-flow: column;
    width: 100vw;
    height: calc(100vw / var(--aspect-ratio));
    cursor: initial;

    @media (pointer: coarse) {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      cursor: grab;

      scroll-snap-type: mandatory;
      scroll-snap-points-y: repeat(100vw);
      scroll-snap-type: x mandatory;
    }
  }
  &__slide-container {
    $transition-timing-function: $ease--in-out-circ;
    $transition-duration: 700ms;

    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    img {
      width: 100%;
      height: 100%;
    }
    &-enter {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

      img {
        transform: scale(1.3) translateX(2rem);
      }
    }
    &-leave-to {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

      img {
        transform: scale(1.3) translateX(-2rem);
      }
    }
    &-enter-active {
      transition: all $transition-duration;
      transition-timing-function: $transition-timing-function;
      img {
        transition: all $transition-duration;
        transition-timing-function: $transition-timing-function;
      }
    }
    &-leave-active {
      transition: all $transition-duration;
      transition-timing-function: $transition-timing-function;

      img {
        transition: all $transition-duration;
        transition-timing-function: $transition-timing-function;
      }
    }
  }
  &__slide-mobile {
    width: 100vw;
    object-fit: cover;
    pointer-events: none;

    flex-shrink: 0;
    scroll-snap-align: start;
    @media (pointer: fine) {
      display: none;
    }
  }
  &__slide {
    display: none;
    object-fit: cover;

    @media (pointer: fine) {
      display: block;
    }
  }
  &__slide-action {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 6rem;
    width: 11vw;
    padding: 2vw 2vw 2.5vw;
    cursor: pointer;
    border: none;
    background-color: transparent;
    @supports (mix-blend-mode: exclusion) {
      color: $color--contrast;
      mix-blend-mode: exclusion;
    }
    @media (pointer: coarse) {
      display: none;
    }
  }
  &__embed {
    overflow: hidden;
    width: 100vw;
    height: calc(100vw / (818 / 386));

    @include screen(md) {
      height: calc(100vw / var(--aspect-ratio));
    }
  }
  &__embed-frame {
    width: 100%;
    height: 100%;
  }
  &__meta {
    @include container;

    font-size: 1.25rem;
    line-height: 1.3;
    display: grid;
    grid-row-gap: 2rem;
    justify-content: space-between;
    padding: 3rem 1rem;

    @include screen(sm) {
      font-size: 1.5rem;
      line-height: 1.125;
      grid-template-columns: 1fr 1fr;
    }
    .case-study--has-slides & {
      @media (pointer: coarse) {
        position: relative;
        &:before {
          font-family: $font--text-accent;
          font-size: 0.75rem;
          position: absolute;
          top: -1.2rem;
          right: 0;
          padding: 0.2rem 0.5rem;
          content: '(Swipe for more)';
          text-transform: uppercase;
          background-color: var(--background);
        }
      }
    }
  }
  &__meta-tag {
    text-transform: uppercase;
    &:nth-child(2) {
      transition-delay: 0.1s;
    }
  }
  &__lede {
    font-family: $font--text-accent;
  }
  .word,
  &__meta-tag {
    transition: all 0.8s $ease--out-expo;
    transform: translateY(0);
    clip-path: polygon(0 0, 100% 0, 100% 115%, 0 115%);
  }
  .word {
    display: inline-block;
    transition-delay: calc(var(--line-index) * 0.1s);
  }
  &--hidden {
    .word,
    .case-study__meta-tag {
      transform: translateY(1em);
      clip-path: polygon(0 0%, 100% 0%, 100% 0%, 0 0%);
    }
  }
}
