.intro {
  position: relative;
  z-index: 0;
  display: grid;
  overflow: hidden;
  grid-row-gap: 1rem;
  align-content: end;
  max-width: $viewport;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding-top: 10rem;

  @include screen(sm) {
    align-content: center;
    height: 58rem;
    min-height: unset;
    max-height: 100vh;
    max-height: -webkit-fill-available;
    padding-top: unset;
  }
  &:before {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('@/assets/img/gradient.png');
    background-size: cover;
  }
  &__background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vw;
    transition: opacity 2s $ease--in-out-circ;
    opacity: 1;
    &--unloaded {
      opacity: 0;
    }
  }
  &__container {
    @include container;

    @include screen(sm) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: grid;
      grid-auto-flow: row;
      align-content: space-between;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    @include screen(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
  &__clock {
    font-size: 0.75rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    align-items: center;

    font-variant-numeric: tabular-nums;
    @include screen(sm) {
      font-size: 1rem;
    }
    &:before {
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      margin-right: 1rem;
      content: '';
      border-radius: 100%;
      background-color: currentColor;
    }
  }
  &__title {
    font-family: $font--display;
    font-size: 4rem;
    margin-bottom: 1rem;

    @include screen(sm) {
      text-align: center;
    }
    @include screen(md) {
      font-size: 5rem;
    }
  }
  &__headline {
    font-family: $font--text-accent;
    font-size: 2rem;
    line-height: 1;

    @include screen(sm) {
      max-width: 20ch;
    }
  }
  &__logo {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1rem 2rem;
  }
}
