.marquee {
  padding: 5rem 0;
  background-color: #fbcce0;
  font-size: 1.5rem;
  width: 100vw;
  overflow: hidden;
  font-family: $font--text-accent;
  @include screen(sm) {
    font-size: 2rem;
  }
  &__inner {
    padding: 2rem 0;
  }
  &__tag {
    padding: 0.75rem 1.5rem;
    border: 1px solid currentColor;
    margin-left: 5rem;

    white-space: nowrap;
    border-radius: 0.75rem;
    @include screen(sm) {
      padding: 1rem 2rem;
      margin-left: 10rem;
    }
    &:nth-of-type(even) {
      border-radius: 4rem;
    }
  }
}
