.partners {
  font-size: 1.5rem;
  position: relative;
  z-index: -1;
  overflow: hidden;
  width: 100vw;
  margin-bottom: -5rem;
  padding: 3rem 0;

  @include screen(sm) {
    font-size: 3rem;
    padding-right: 0;
    padding-left: 0;
  }
  &__inner {
    @include container;
  }
  &__title {
    @include screen(md) {
      max-width: 42rem;
      margin-bottom: -5rem;
    }
  }

  &__slider {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 100%;
    padding: 21rem 0;
  }
  &__logo-container {
    position: relative;
    margin-right: 7rem;

    @include screen(sm) {
      margin-right: 10rem;
    }
    @include screen(lg) {
      margin-right: 20rem;
    }
    &:before {
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      display: block;
      content: '';
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.5;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
    &:nth-of-type(3n-2) {
      &:before {
        width: 30rem;
        height: 33rem;
        background-image: url('~/assets/img/geometry-1.svg');

        @include screen(sm) {
          width: 40rem;
          height: 44rem;
        }
      }
    }
    &:nth-of-type(3n-1) {
      &:before {
        width: 33rem;
        height: 33rem;
        background-image: url('~/assets/img/geometry-2.svg');

        @include screen(sm) {
          width: 44rem;
          height: 44rem;
        }
      }
    }
    &:nth-of-type(3n) {
      &:before {
        width: 33rem;
        height: 3rem;
        background-image: url('~/assets/img/geometry-3.svg');

        @include screen(sm) {
          width: 44rem;
          height: 44rem;
        }
      }
    }
  }
  &__logo {
    max-width: 12rem;
    margin: 0 auto;
  }
}
