@mixin screen($breakpoint) {
  $bk: $breakpoint;
  @if (map-get($breakpoints, $breakpoint)) {
    $bk: map-get($breakpoints, $breakpoint);
  }
  @media screen and (min-width: $bk) {
    @content;
  }
}
@mixin container {
  max-width: 67rem;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
